h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}

.mobile__font-24 {
  font-size: 24px;
}
.mobile__font-26 {
  font-size: 26px;
}
.mobile__font-28 {
  font-size: 28px;
}
.mobile__font-34 {
  font-size: 34px;
}
.mobile__font-36 {
  font-size: 36px;
}
.mobile__font-38 {
  font-size: 38px;
}
.mobile__font-42 {
  font-size: 42px;
}
@media (min-width: 1400px) {
  .font-24 {
    font-size: 24px;
  }
  .font-26 {
    font-size: 26px;
  }
  .font-28 {
    font-size: 28px;
  }
  .font-34 {
    font-size: 34px;
  }
  .font-36 {
    font-size: 36px;
  }
  .font-38 {
    font-size: 38px;
  }
  .font-42 {
    font-size: 42px;
  }
}

.mobile__mt-12 {
  margin-top: 12px;
}
.mobile__mt-22 {
  margin-top: 22px;
}
.mobile__mt-32 {
  margin-top: 32px;
}
.mobile__mt-62 {
  margin-top: 62px;
}
.mobile__mt-82 {
  margin-top: 82px;
}
.mobile__mt-102 {
  margin-top: 102px;
}
@media (min-width: 1400px) {
  .mt-12 {
    margin-top: 12px;
  }
  .mt-22 {
    margin-top: 22px;
  }
  .mt-32 {
    margin-top: 32px;
  }
  .mt-62 {
    margin-top: 62px;
  }
  .mt-82 {
    margin-top: 82px;
  }
  .mt-102 {
    margin-top: 102px;
  }
}

.align-center {
  align-items: center;
}

.text-align-left {
  text-align: left;
}

.basic-animate {
  animation: my-awesome-beboop 1s, pause-between-iterations 0.4s linear;
}
.basic-animate-1 {
  animation: my-awesome-beboop 1s, pause-between-iterations 0.9s linear;
}
.basic-animate-2 {
  animation: my-awesome-beboop 1s, pause-between-iterations 1.4s linear;
}
.basic-animate-3 {
  animation: my-awesome-beboop 1s, pause-between-iterations 1.9s linear;
}

@keyframes my-awesome-beboop {
}

@keyframes pause-between-iterations {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  25.2% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
