h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}

@media (max-width: 768px) {
  .mobile-font-14 {
    font-size: 14px;
  }
  .mobile-font-16 {
    font-size: 16px;
  }
  .mobile-font-18 {
    font-size: 18px;
  }
  .mobile-font-20 {
    font-size: 20px;
  }
  .mobile-font-22 {
    font-size: 22px;
  }
  .mobile-font-24 {
    font-size: 24px;
  }
  .mobile-font-26 {
    font-size: 26px;
  }
  .mobile-font-28 {
    font-size: 28px;
  }
  .mobile-font-34 {
    font-size: 34px;
  }
  .mobile-font-36 {
    font-size: 36px;
  }
  .mobile-font-38 {
    font-size: 38px;
  }
  .mobile-font-42 {
    font-size: 42px;
  }
}
@media (min-width: 1100px) {
  .font-14 {
    font-size: 14px;
  }
  .font-16 {
    font-size: 16px;
  }
  .font-18 {
    font-size: 18px;
  }
  .font-20 {
    font-size: 20px;
  }
  .font-22 {
    font-size: 22px;
  }
  .font-24 {
    font-size: 24px;
  }
  .font-26 {
    font-size: 26px;
  }
  .font-28 {
    font-size: 28px;
  }
  .font-34 {
    font-size: 34px;
  }
  .font-36 {
    font-size: 36px;
  }
  .font-38 {
    font-size: 38px;
  }
  .font-42 {
    font-size: 42px;
  }
}

@media (max-width: 768px) {
  .mobile-my-12 {
    margin: 12px auto;
  }
  .mobile-my-22 {
    margin: 22px auto;
  }
  .mobile-my-32 {
    margin: 32px auto;
  }
  .mobile-my-62 {
    margin: 62px auto;
  }
  .mobile-my-82 {
    margin: 82px auto;
  }
  .mobile-my-102 {
    margin: 102px auto;
  }
}
@media (min-width: 1100px) {
  .my-12 {
    margin: 12px auto;
  }
  .my-22 {
    margin: 22px auto;
  }
  .my-32 {
    margin: 32px auto;
  }
  .my-62 {
    margin: 62px auto;
  }
  .my-82 {
    margin: 82px auto;
  }
  .my-102 {
    margin: 102px auto;
  }
}

@media (max-width: 768px) {
  .mobile-mx-12 {
    margin: auto 12px;
  }
  .mobile-mx-22 {
    margin: auto 22px;
  }
  .mobile-mx-32 {
    margin: auto 32px;
  }
  .mobile-mx-62 {
    margin: auto 62px;
  }
  .mobile-mx-82 {
    margin: auto 82px;
  }
  .mobile-mx-102 {
    margin: auto 102px;
  }
}
@media (min-width: 1100px) {
  .mx-12 {
    margin: auto 12px;
  }
  .mx-22 {
    margin: auto 22px;
  }
  .mx-32 {
    margin: auto 32px;
  }
  .mx-62 {
    margin: auto 62px;
  }
  .mx-82 {
    margin: auto 82px;
  }
  .mx-102 {
    margin: auto 102px;
  }
}

@media (max-width: 768px) {
  .mobile-mt-12 {
    margin-top: 12px;
  }
  .mobile-mt-22 {
    margin-top: 22px;
  }
  .mobile-mt-32 {
    margin-top: 32px;
  }
  .mobile-mt-62 {
    margin-top: 62px;
  }
  .mobile-mt-82 {
    margin-top: 82px;
  }
  .mobile-mt-102 {
    margin-top: 102px;
  }
}
@media (min-width: 1100px) {
  .mt-12 {
    margin-top: 12px;
  }
  .mt-22 {
    margin-top: 22px;
  }
  .mt-32 {
    margin-top: 32px;
  }
  .mt-62 {
    margin-top: 62px;
  }
  .mt-82 {
    margin-top: 82px;
  }
  .mt-88 {
    margin-top: 88px;
  }
  .mt-102 {
    margin-top: 102px;
  }
}

@media (max-width: 768px) {
  .mobile-mb-12 {
    margin-bottom: 12px;
  }
  .mobile-mb-22 {
    margin-bottom: 22px;
  }
  .mobile-mb-32 {
    margin-bottom: 32px;
  }
  .mobile-mb-62 {
    margin-bottom: 62px;
  }
  .mobile-mb-82 {
    margin-bottom: 82px;
  }
  .mobile-mb-102 {
    margin-bottom: 102px;
  }
}
@media (min-width: 1100px) {
  .mb-12 {
    margin-bottom: 12px;
  }
  .mb-22 {
    margin-bottom: 22px;
  }
  .mb-32 {
    margin-bottom: 32px;
  }
  .mb-62 {
    margin-bottom: 62px;
  }
  .mb-82 {
    margin-bottom: 82px;
  }
  .mb-102 {
    margin-bottom: 102px;
  }
}

.align-center {
  align-items: center;
}

.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.basic-animate {
  animation: my-awesome-beboop 1s, pause-between-iterations 0.4s linear;
}
.basic-animate-1 {
  animation: my-awesome-beboop 1s, pause-between-iterations 0.9s linear;
}
.basic-animate-2 {
  animation: my-awesome-beboop 1s, pause-between-iterations 1.4s linear;
}
.basic-animate-3 {
  animation: my-awesome-beboop 1s, pause-between-iterations 1.9s linear;
}

@keyframes my-awesome-beboop {
}

@keyframes pause-between-iterations {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  25.2% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
