body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  letter-spacing: 0.3px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
